.app-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-color);
  padding: 1rem;

  .card-section {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .card-content {
      height: 600px;
      overflow: hidden;
      padding: 0.75rem;
    }

    .product-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0.75rem;
      margin-top: 0.5rem;
    }
  }

  .heading {
    font-size: 36px;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 1px;
  }

  .subheading {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    padding: 0rem 2rem;
  }
}
